<div id="main-container">
    <div id="main">
        <div id="login-form">
            <link rel="shortcut icon" href="{{ static_url('favicon.ico') }}">
            <form action="/login/" method="post" id="login_form">
                <table>
                    <tr>
                        <td>
                            <label for="username">Username</label>
                        </td>
                        <td>
                            <input autocapitalize="off" autocorrect="off" class="text-input" id="username" name="username" tabindex="1" type="text" value="" minlength="1" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="password">Password</label>
                        </td>
                        <td>
                            <input class="text-input" id="password" name="password" tabindex="2" type="password" value="" minlength="1" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div id="form_btn">
                                <input id="signup-btn" name="signup" class="btn btn-blue" type="submit" value="Sign Up" tabindex="3">
                            </div>
                        </td>
                        <td>
                            <div id="form_btn">
                                <input id="signin-btn" name="signin" class="btn btn-blue" type="submit" value="Sign In" tabindex="4">
                            </div>
                        </td>
                    </tr>
                </table>
                {% if error is not None %}
                <table>
                    <tr>
                        <td>Error: {{error}}<td>
                    </tr>
                </table>
                {% end %}
            </form>
        </div>
    </div>
</div>
