<div id="main-container">
    <div id="main">
        <div id="main">
            <link rel="shortcut icon" href="{{ static_url('favicon.ico') }}">
            <form id="main_form" enctype="multipart/form-data" action="/" method="post">
                <table>
                    <tr>
                        <td>
                            <div id="form_btn">
                                Hello, {{username}}! <input id="logout-btn" class="btn btn-blue" type="submit" value="Logout" name="logout" tabindex="2">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                {% for file in file_list %} {% if type(file) != list%}
                                <li>{{ file['user'].name }}: <a href="{{ static_url(file['file'].path) }}" download="{{file['file'].name}}">{{ file['file'].name }}</a></li>
                                {% else %}
                                <ul>
                                    {%for page in file%}
                                    <li><a href="{{ static_url(page.path) }}" download="{{page.name}}">{{ page.name }}</a></li>
                                    {% end %}
                                </ul>
                                {% end %} {% end %}
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="file" name="filearg" value="filearg"/></td>
                        <td><input type="submit" value="Upload" name="upload"/></td>
                    </tr>
                </table>
                {% if error is not None %}
                <table>
                    <tr>
                        <td>Error: {{error}}
                            <td>
                    </tr>
                </table>
                {% end %}
            </form>
        </div>
    </div>
</div>
